# Data from FEC https://www.fec.gov/data/browse-data/?tab=bulk-data
data/
data.zip

# Previous Outputs
outputs v[0-9]*/

# Output CSV and PKL Files (exceeds file size limits for GitHub)
# For full output, see https://doi.org/10.7910/DVN/FYTRLU
outputs/**/*.csv
outputs/**/*.pkl
outputs/**/*.png
outputs/**/*.md